workflows/Generation Workflow.json
{
  "name": "Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        176
      ],
      "id": "f694be63-c796-4db6-9306-e18c5114964d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mHD0IS8jDs5fsamA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        384
      ],
      "id": "13090bf3-eef8-4b75-89c2-a5361d3d0bfb",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "mHD0IS8jDs5fsamA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -624,
        32
      ],
      "id": "faaa7ad8-41b2-4d63-9747-54810c9af4da",
      "name": "Intake: Compliance Inbox",
      "credentials": {
        "imap": {
          "id": "3RbqqTB7RD0FNe0e",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = items[0].binary || {};\nconst results = [];\n\nfor (const key of Object.keys(binaryData)) {\n  const file = binaryData[key];\n  \n  if (file.mimeType === 'application/pdf') {\n    results.push({\n      json: { \n        fileName: file.fileName,\n        sender: items[0].json.from,\n        has_pdfs: true \n      },\n      binary: {\n        data: file \n      }\n    });\n  }\n}\n\n// If no PDFs, return one item with the flag but NO binary 'data' key\nif (results.length === 0) {\n  return [{ \n    json: { \n      has_pdfs: false, \n      sender: items[0].json.from \n    },\n    binary: {}\n  }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        32
      ],
      "id": "007f754b-76bb-41b6-b807-9a1583d982de",
      "name": "Filter: Check for Attachments"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a45e043a-9280-4f67-b43d-b4874a84facd",
                    "leftValue": "={{ !!$binary.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9ff7b6ad-e1ed-4a74-b959-1bc4449311dc",
                    "leftValue": "={{ $json.has_pdfs }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        32
      ],
      "id": "6f7d8e03-0d75-4bce-aef5-ea25a0f149ab",
      "name": "Gate: Attachment Validator"
    },
    {
      "parameters": {
        "fromEmail": "nianozadze7@gmail.com",
        "toEmail": "={{ $node[\"Intake: Compliance Inbox\"].json.from }}",
        "subject": "Action Required: Missing Attachment",
        "emailFormat": "text",
        "text": "Hello, we received your email but no PDF was found. Please resubmit the contract.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        224
      ],
      "id": "c2812167-5eb4-4bf6-94c4-d785cb0d562f",
      "name": "Notify: Missing Files Error",
      "webhookId": "bf8e8d70-2dfd-42c7-b7b6-c4700d32771a",
      "credentials": {
        "smtp": {
          "id": "1VMdbOzA9IwUENJ1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -32
      ],
      "id": "4912c2f4-4c1e-46d8-b8e7-222ead1ffab1",
      "name": "Iterator: Process PDFs"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -16
      ],
      "id": "20d57796-99ab-4a07-8318-81753ab3635a",
      "name": "OCR: Extract Document Text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Senior Vendor Compliance AI Agent. Your goal is to audit agreements by cross-referencing extracted data against the internal rules found in your \"policy_checker\" knowledge base.\n\n------------------------------------\nSYSTEM WORKFLOW\n------------------------------------\n\nSTEP 1 — EXTRACTION\nExtract the vendor name, registration number, jurisdiction, contract value, ISO 27001 status, and signature status.\n\nSTEP 2 — DYNAMIC POLICY RETRIEVAL (CRITICAL)\nUse the \"policy_checker\" tool to find the specific rules for the following:\n- What are the current financial approval thresholds?\n- Which jurisdictions are currently approved, high-risk, or restricted?\n- What are the security (ISO) and validation requirements?\n\nDO NOT rely on internal knowledge. Only use the retrieved policy text to make decisions.\n\nSTEP 3 — VALIDATION & ROUTING\nCompare the extracted data to the retrieved policy. Determine the routing:\n- AUTO_APPROVED: Meets all \"Approved\" criteria.\n- NON_COMPLIANT: If any restricted policy is hit.\n- HUMAN_REVIEW: If the jurisdiction is \"High-Risk,\" data is missing, or confidence < 0.7.\n\n\n\nSTEP 5 — CONFIDENCE ESTIMATION\nProvide a confidence score between 0 and 1 based on document clarity and extraction certainty.\n\n------------------------------------\nOUTPUT FORMAT (STRICT JSON ONLY)\n------------------------------------\n\n{\n  \"extracted_fields\": {\n    \"vendor_name\": \"string\",\n    \"registration_number\": \"string\",\n    \"jurisdiction\": \"string\",\n    \"contract_value_usd\": number,\n    \"iso_27001_certified\": \"true | false | unknown\",\n    \"start_date\":\"string\",\n    \"vendor_signature_present\": \"true | false\"\n  },\n\n  \"policy_validation\": {\n    \"security_requirement\": {\n      \"status\": \"PASS | FAIL | REVIEW\",\n      \"reason\": \"string\"\n    },\n\n    \"jurisdiction_policy\": {\n      \"status\": \"APPROVED | HIGH_RISK | RESTRICTED\",\n      \"reason\": \"string\"\n    },\n\n    \"contract_validation\": {\n      \"status\": \"PASS | FAIL\",\n      \"reason\": \"string\"\n    }\n  },\n\n  \"final_decision\": {\n    \"routing\": \"COMPLIANT| NON_COMPLIANT | HUMAN_REVIEW\",\n    \"confidence\": number,\n    \"reasoning_summary\": \"short explanation of the final decision\"\n  },\n\n  \"technical_audit\": {\n    \"missing_fields\": [],\n    \"messiness_detected\": true | false\n  }\n}\n\nIf information is missing or ambiguous, never guess. Mark the field as unknown and reduce confidence.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -16
      ],
      "id": "6ea9d433-50d4-46c2-ab50-7869b491552f",
      "name": "Agent: Compliance Auditor",
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "policy_checker",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "e17190ac-440e-403a-8b5e-1584e72647b0",
      "name": "Knowledge Base: Internal Policies"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $json.output || \"\"; \nconst cleanJson = rawOutput.replace(/```json|```/g, \"\").trim();\nconst parsed = JSON.parse(cleanJson);\n\nconst filename = $binary?.data?.fileName || \"unknown_file\";\n\nreturn {\n  ...parsed,\n  vendor_name: parsed.extracted_fields.vendor_name,\n  contract_value: parsed.extracted_fields.contract_value_usd,\n  jurisdiction: parsed.extracted_fields.jurisdiction,\n  start_date: parsed.extracted_fields.start_date,\n  routing: parsed.final_decision.routing,\n  confidence: parsed.final_decision.confidence,\n  processed_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ],
      "id": "cbf4ff96-c346-4c71-96ec-a5bf34fdd676",
      "name": "Sanitizer: JSON Formatter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.routing}}",
                    "rightValue": "COMPLIANT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff6f26f1-8b74-4355-821e-1c0411d16030"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55ba0867-c60a-4b9c-a361-244329e510f0",
                    "leftValue": "={{$json.routing}}",
                    "rightValue": "NON_COMPLIANT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "49a57723-715b-41fc-ad54-09dd1bb92831",
                    "leftValue": "={{$json.routing}}",
                    "rightValue": "HUMAN_REVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1584,
        -32
      ],
      "id": "a30b4c1a-0eb7-48ec-9442-97ea9a6dd1ba",
      "name": "Router: Triage Results"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA",
          "mode": "list",
          "cachedResultName": "Vendor_agreements",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Compliant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.processed_at }}",
            "Contract Value": "={{ $json.contract_value }}",
            "Jurisdiction": "={{ $json.jurisdiction }}",
            "Vendor Name": "={{ $json.vendor_name }}",
            "AI Reasoning": "={{ $json.final_decision.reasoning_summary }}",
            "Sender Email": "={{ $('Intake: Compliance Inbox').item.json.from }}",
            "Confidence": "={{ $json.confidence }}",
            "Contract Start Date": "={{ $json.start_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Start Date",
              "displayName": "Contract Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract Value",
              "displayName": "Contract Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jurisdiction",
              "displayName": "Jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reasoning",
              "displayName": "AI Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        -32
      ],
      "id": "f6d01d58-340c-48d5-887e-b6f101b66790",
      "name": "Compliance sheet",
      "credentials": {
        "googleApi": {
          "id": "1VwY4C30WdIjAaCD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA",
          "mode": "list",
          "cachedResultName": "Vendor_agreements",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1810322370,
          "mode": "list",
          "cachedResultName": "Needs Review / Non-Compliant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZ91VheaFffXVz0zPelLOMRBChgdqz20RX_Qbd84vEA/edit#gid=1810322370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.processed_at }}",
            "Vendor Name": "={{ $json.vendor_name }}",
            "Contract Start Date": "={{ $json.start_date }}",
            "Jurisdiction": "={{ $json.jurisdiction }}",
            "Contract Value": "={{ $json.extracted_fields.contract_value_usd }}",
            "Confidence": "={{ $json.confidence }}",
            "AI Reasoning": "={{ $json.final_decision.reasoning_summary }}",
            "Sender Email": "={{ $('Intake: Compliance Inbox').item.json.from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Start Date",
              "displayName": "Contract Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract Value",
              "displayName": "Contract Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jurisdiction",
              "displayName": "Jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reasoning",
              "displayName": "AI Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        160
      ],
      "id": "603c642b-4fee-4d4f-afdd-01f97c326730",
      "name": "Non-Compliance sheet",
      "credentials": {
        "googleApi": {
          "id": "1VwY4C30WdIjAaCD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nianozadze7@gmail.com",
        "toEmail": "={{ $('Intake: Compliance Inbox').item.json.from }}",
        "emailFormat": "text",
        "text": "=Hello, your contract was processed but did not meet our compliance standards for the following reason: {{ $json[\"AI Reasoning\"] }}. Please update the document and resubmit.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2256,
        160
      ],
      "id": "cc672da2-b261-41c8-a6fe-a5df82e1e80f",
      "name": "Notify: Automated Rejection",
      "webhookId": "9ce5db83-3fae-4aba-a067-f1132d15eb45",
      "credentials": {
        "smtp": {
          "id": "1VMdbOzA9IwUENJ1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nianozadze7@gmail.com",
        "toEmail": "nianozadze7@gmail.com",
        "subject": "Human Review Alert",
        "emailFormat": "text",
        "text": "=The intake system encountered a document it couldn't read. Sender:{{ $('Intake: Compliance Inbox').item.json.from }}. \nManual intervention required.\nReason: {{ $json.final_decision.reasoning_summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2000,
        384
      ],
      "id": "e6f5ee28-f00a-4012-ab62-180dec4811a6",
      "name": "Alert: Human Review Required",
      "webhookId": "28c2418a-f38d-4504-b47b-2960a9080aae",
      "credentials": {
        "smtp": {
          "id": "1VMdbOzA9IwUENJ1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nianozadze7@gmail.com",
        "toEmail": "nianozadze7@gmail.com",
        "subject": "=Audit Complete, Files Processed",
        "emailFormat": "text",
        "text": "=The AI Agent has finished processing the document batch.\nStatus: All tasks successfully routed.\n\nPlease check the Master Compliance Sheet for specific vendor details and reasoning.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        400,
        -192
      ],
      "id": "29753d24-70ee-4eb6-86df-d906340aacfb",
      "name": "Report: Final Audit Summary",
      "webhookId": "1fdb63a5-23ef-4023-abae-0c2079c990c8",
      "credentials": {
        "smtp": {
          "id": "1VMdbOzA9IwUENJ1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Compliance Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base: Internal Policies",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Intake: Compliance Inbox": {
      "main": [
        [
          {
            "node": "Filter: Check for Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Check for Attachments": {
      "main": [
        [
          {
            "node": "Gate: Attachment Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Attachment Validator": {
      "main": [
        [
          {
            "node": "Iterator: Process PDFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Missing Files Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterator: Process PDFs": {
      "main": [
        [
          {
            "node": "Report: Final Audit Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR: Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR: Extract Document Text": {
      "main": [
        [
          {
            "node": "Agent: Compliance Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Compliance Auditor": {
      "main": [
        [
          {
            "node": "Sanitizer: JSON Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base: Internal Policies": {
      "ai_tool": [
        [
          {
            "node": "Agent: Compliance Auditor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizer: JSON Formatter": {
      "main": [
        [
          {
            "node": "Router: Triage Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Triage Results": {
      "main": [
        [
          {
            "node": "Compliance sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-Compliance sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Human Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance sheet": {
      "main": [
        [
          {
            "node": "Iterator: Process PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non-Compliance sheet": {
      "main": [
        [
          {
            "node": "Notify: Automated Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Automated Rejection": {
      "main": [
        [
          {
            "node": "Iterator: Process PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert: Human Review Required": {
      "main": [
        [
          {
            "node": "Iterator: Process PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Missing Files Error": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "497f1752-5b41-4104-a683-483107baca04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0592bd3789d7f422b11ba68f701371c2d5ba84d11f75c66d3a1cc372d926b25a"
  },
  "id": "MWrPQ1zTvX80StPA",
  "tags": []
}